<div class="home-content">
    <h1 style="font-size: 50px; font-weight: bold;">Welcome</h1>
    <mat-divider style="margin-bottom: 20px;"></mat-divider>
    <img src='/assets/img/positive.jpg' alt="image" />
    <mat-divider style="margin-bottom: 20px;"></mat-divider>
    <aside style="text-align: justify;">
        <h1 style="font-weight: bold;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget.
            <h3 style="text-align: center; font-style: italic;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget."
            </h3>
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec varius elit. Etiam erat libero, luctus vel
            orci nec, porttitor vestibulum libero. Etiam pretium, mauris id congue auctor, enim purus congue magna,
            vitae placerat lorem magna rhoncus eros. Nam mattis sollicitudin lectus, nec maximus quam hendrerit sed.
            Phasellus rutrum metus eu elit bibendum semper. Nam a erat sollicitudin est vehicula tincidunt. Duis vel
            sollicitudin velit. Quisque ultrices erat justo, eu vehicula metus varius commodo. Nullam ornare vulputate
            neque non volutpat. In sit amet consectetur ipsum.
        </p>
        <p>
            Donec placerat facilisis mattis. Aliquam imperdiet congue mi, eu venenatis metus tincidunt porta. Nullam
            rhoncus mauris id neque rhoncus luctus. Vivamus vestibulum lorem leo, non faucibus erat condimentum at.
            Morbi id magna erat. Vivamus in ante eu massa eleifend maximus. Pellentesque quis sem et sapien bibendum
            malesuada ut et tortor. Sed cursus pulvinar sapien, quis dignissim enim mattis sit amet. Sed at lacinia
            nisi. Praesent nisl ligula, semper eget nulla vel, accumsan blandit arcu. Donec viverra gravida vestibulum.
            In aliquet interdum est, eget porta turpis porttitor vitae. Vivamus egestas eget nisl sed rhoncus.
        </p>
        <p>
            Donec feugiat massa vitae nisi maximus luctus. Aenean eros nulla, posuere sit amet felis id, fermentum
            tempus mauris. Praesent nec ipsum nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Nunc elementum sit amet sem nec venenatis. Integer quam metus, rutrum nec eros sit
            amet, pharetra placerat metus. In hac habitasse platea dictumst. Vestibulum scelerisque finibus risus quis
            interdum. Etiam tempor eros leo, ac consectetur massa rhoncus et. Cras id rhoncus enim.
        </p>
        <p>
            Aliquam neque elit, laoreet a mi ut, condimentum venenatis arcu. Vestibulum neque lacus, aliquam eu urna ut,
            rutrum consequat nisi. Donec sollicitudin mollis sem in tincidunt. Aenean quis magna congue, semper lectus
            quis, posuere sem. Pellentesque ultricies dictum libero, a faucibus erat imperdiet quis. Nam gravida risus
            eu consequat cursus. Integer tellus turpis, viverra vel quam in, suscipit pretium diam. Etiam rutrum vel
            risus non sollicitudin.
        </p>
        <p>
            Nulla ligula odio, viverra sit amet urna nec, dignissim ultrices neque. Aliquam aliquam bibendum augue id
            tristique. Aliquam vestibulum molestie tristique. Proin vel commodo est. Vestibulum a erat porta, fermentum
            enim et, lobortis velit. Nam eu suscipit arcu, at auctor lectus. Maecenas luctus finibus ante. Quisque
            semper semper ultricies. Suspendisse sit amet augue sed felis interdum dictum. Maecenas nec tortor non ipsum
            eleifend maximus.
        </p>
    </aside>
</div>